.container {
  margin: 5% 20% 0% 20%;
}
.col-2{
  width: 20%;
  float: left;
  padding: 15px;
}
.col-8{
  width: 80%;
  float: left;
  padding: 15px;
}
.col-10{
  width: 100%;
}
.row{
  display: grid;
  width: 100%;
}
